{{> metaHeader title='Title page' description="description"}} {{> header }}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2 colour-text">03 : About Us</h1>
        </div>
        <div class="row center-div">
          <div class="col-md-5 col-sm-5 about-us-div">
            <div class="inline">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <h3>Domains</h3>
            </div>
            <p>Own your piece of internet real estate. </p>
          </div>
          <div class="col-md-5 col-sm-5 about-us-div">
            <div class="inline">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h3>Web and App Development</h3>
            </div>
            <p>Sleek, striking websites and immersive web mobile apps. </p>
          </div>
        </div>
        <div class="row center-div">
          <div class="col-md-5 col-sm-5 about-us-div">
            <div class="inline">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <h3>Hardware Sales</h3>
            </div>
            <p>Stay tuned for our new online store! </p>
          </div>
          <div class="col-md-5 col-sm-5 about-us-div">
            <div class="inline">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              <h3>Tech Support</h3>
            </div>
            <p>Call us and we'll be there to help! </p>
          </div>
        </div>
        <div class="row center-div">
          <div class="col-md-5 col-sm-5 about-us-div">
            <div class="inline">
              <i class="fa fa-suitcase" aria-hidden="true"></i>
              <h3>Consultancy and Advisory</h3>
            </div>
            <p>We help your business get the most out of its technology. </p>
          </div>
          <div class="col-md-5 col-sm-5 about-us-div">
            <div class="inline">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <h3>Hosting and Email</h3>
            </div>
            <p>Unlimited email space available and high hosting bandwidth </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</div>


{{> footer }} {{> metaFooter}}