{{> metaHeader title='Vortechs - About' description="description"}} {{> header }}

<div class="section-container">
  <div class="container center-div">
    <div class="row">
      <div class="section-container-spacer text-center">
        <h1 class="h2 colour-text">03 : About Us</h1>
      </div>
      <div class="about-us-div">
        <div class="inline">
          <i class="fa white fa-desktop" aria-hidden="true"></i>
          <h3 class="white">Domains</h3>
        </div>
        <p class="inline white">Own your piece of internet real estate. </p>
      </div>
      <div class="about-us-div">
        <div class="inline">
          <i class="fa white fa-code" aria-hidden="true"></i>
          <h3 class="white">Web and App Development</h3>
        </div>
        <p class="inline white">Sleek, striking websites and immersive web mobile apps. </p>
      </div>
      <div class="about-us-div">
        <div class="inline">
          <i class="fa white fa-shopping-cart" aria-hidden="true"></i>
          <h3 class="white">Hardware Sales</h3>
        </div>
        <p class="inline white">Stay tuned for our new online store! </p>
      </div>
      <div class="about-us-div">
        <div class="inline">
          <i class="fa white fa-comments-o" aria-hidden="true"></i>
          <h3 class="white">Tech Support</h3>
        </div>
        <p class="inline white">Call us and we'll be there to help! </p>
      </div>
      <div class="about-us-div">
        <div class="inline">
          <i class="fa white fa-suitcase" aria-hidden="true"></i>
          <h3 class="white">Consultancy and Advisory</h3>
        </div>
        <p class="inline white">We help your business get the most out of its technology. </p>
      </div>
      <div class="about-us-div">
        <div class="inline">
          <i class="fa white fa-envelope" aria-hidden="true"></i>
          <h3 class="white">Hosting and Email</h3>
        </div>
        <p class="inline white">Unlimited email space available and high hosting bandwidth </p>
      </div>
    </div>
  </div>
</div>
</div>


{{> footer }} {{> metaFooter}}